<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PandoraWalletService1_1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20159/PandoraWalletService1_1.asmx"
                binding="basicHttpBinding" bindingConfiguration="PandoraWalletService1_1Soap"
                contract="PandoraWalletService1_1.PandoraWalletService1_1Soap"
                name="PandoraWalletService1_1Soap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
